* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
}

.header-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2px;
}

.header-cart-area {
  display: flex;
  width: 300px;
  justify-content: space-around;
}

#free-ship-msg {
  font-family: Old Standard TT;
  text-align: center;
  color: #e44104;
}

#free-ship-msg h2 {
  padding-bottom: 3px;
}

.cauldron-cart {
  display: flex;
  align-items: center;
  width: 100px;
  justify-content: space-between;
}

.cauldron-cart p {
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: rgb(124, 124, 124);
}

#bag-cart {
  padding-top: 2px;
  padding-left: 7px;
  color: #e44104;
}

.title-page-name {
  display: flex;
  justify-content: end;
  width: 329px;
  justify-content: center;
  gap: 5px;
}

.subtitle-page {
  font-family: Old Standard TT;
  font-style: italic;
  font-size: 18px;
  color: #523468;
}

#merlin {
  font-family: Oswald;
  font-weight: 400px;
  letter-spacing: 2px;
  font-size: 40px;
  color: #e44104;
}

#merlins-potion {
  font-family: Oswald;
  font-weight: lighter;
  font-size: 40px;
  color: #e44104;
}

.nav-div {
  width: 100%;
  background-color: #523468;
  justify-content: space-around;
  display: flex;
}

#nav-options {
  display: flex;
  justify-content: space-evenly;
  height: 80px;
  align-items: center;
}

#nav-options li {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  width: 100px;
  text-align: left;
  list-style: none;
  cursor: pointer;
  font-family: Old Standard TT;
  font-weight: bold;
  color: azure;
  letter-spacing: 1px;
  transition: all ease 0.2s;
}

#nav-options li:hover {
  background-color: #382347;
}

#nav-options li p {
  padding-top: 3px;
  font-size: 18px;
  cursor: pointer;
}

#nav-sign {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 250px;
  font-family: Old Standard TT;
  font-weight: bold;
  color: azure;
  letter-spacing: 1px;
  transition: all ease 0.2s;
  list-style: none;
}

#sign-in, #sign-up {
  padding: 10px;
  border-radius: 8px;
  display: flex;
  flex-wrap: nowrap;
}


#sign-in:hover {
  background-color: #382347;
  cursor: pointer;
}

#sign-up:hover {
  background-color: #382347;
  cursor: pointer;
}

#or {
  color: #ccc;
}

#fade,
#modal {
  transition: 0.5s;
  opacity: 1;
  pointer-events: all;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 10px;
}

.header header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
}

.header-input {
  height: 30px;
  width: 375px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  border: 1px solid black;
  padding: 15px;
  align-items: center;
  gap: 6px;
  border-radius: 8px;
  cursor: pointer;
}

.header-input input {
  width: 350px;
  height: 50px;
  border: none;
  font-size: 18px;
  cursor: pointer;
  outline: none;
}

.header-input img {
  width: 30px;
  height: 30px;
  padding-right: 8px;
  cursor: pointer;
}

.potions-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 30%;
  padding-top: 60px;
  gap: 50px;
}

.potions-container h2 {
  width: 100px;
  place-items: left;
}

.potion-title {
  display: flex;
  justify-content: space-between;
  width: 940px;
}

.potNameAndPrice {
  display: flex;
  justify-content: center;
  align-items: center;
}

.potNameAndPrice p {
  font-weight: bolder;
}

.price {
  padding-left: 2px;
  padding-top: 4px;
  color: orange;
  font-size: small;
  color: #e44104;
}

.potions {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  width: 900px;
  gap: 102px;
  padding: 20px;
}

.potions img {
  width: 190px;
  height: 190px;
}

.potion-div {
  cursor: pointer;
  transition: 0.2s;
}

.potion-div:hover {
  transform: scale(0.9);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#close-modal {
  border: none;
  background-color: transparent;
  padding: 8px;
  margin-bottom: 8px;
  font-size: 18px;
  cursor: pointer;
}

.modal-body {
  width: 660px;
  height: 410px;
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  align-items: center;
}

#fade {
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

#modal {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  width: 680px;
  height: 470px;
  max-width: 80%;
  background-color: #fff;
  z-index: 10;
  position: relative;
  left: 50%;
  bottom: 35%;
  transform: translateX(-50%);
}

#modal.hide,
#fade.hide {
  opacity: 0;
  pointer-events: none;
}

#modal img {
  width: 350px;
  height: 350px;
}

.potion-div-modal {
  transition: 0.2s;
}

.modal-body-info {
  display: flex;
  flex-direction: column;
}

.modal-title-name {
  width: 250px;
  padding-bottom: 8px;
}

.use-effects-info h3 {
  padding-bottom: 12px;
}

.ingredients-info h3 {
  padding-bottom: 10px;
}

.ingredients-info p {
  text-indent: 2em;
  list-style-type: disc;
  display: list-item;
  list-style-position: inside;
}

.ingredients-info ul li {
  list-style: none;
}

.use-effects-info {
  padding-top: 15px;
  padding-bottom: 15px;
}

.cart-button {
  display: flex;
  flex-direction: column;
  order: 2;
  width: 120px;
  padding-top: 15px;
}

.cart-button button {
  padding: 3px;
  height: 28px;
  border: none;
  border-radius: 8px;
  background-color: #e44104;
  color: #fff;
  cursor: pointer;
}

.modal-body-info h3 {
  width: 60px;
}

.price-info {
  order: 1;
  padding-top: 15px;
}

.price-info h3 {
  color: #e44104;
}

.price-info h2 {
  font-size: 19px;
}

.hidden {
  display: none;
}

.footer-area {
  width: 100%;
  height: 30%;
  background-color: rgb(230, 229, 229);
}

@media (max-width: 780px) {
  .header-input {
    display: none;
  }

  .potions-container {
    height: 70vh;
  }

  .potion-title {
    justify-content: center;
  }

  .potions {
    width: 500px;
    justify-content: center;
    gap: 50px;
  }

  #free-ship-msg{
    position: relative;
    top: 200px;
    display: flex;
    justify-content: end;
    align-items: center;
  }

  #free-ship-msg h2, h3 {
    width: 225px;
    font-size: 30px;
  }

}
