* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.header-title {
  display: flex;
  flex-direction: column;
  gap: 2px
}

.title-page-name {
  display: flex;
  justify-content: end;
  width: 329px;
  gap: 5px;
}

.subtitle-page {
  font-family: Old Standard TT;
  font-style: italic;
  font-size: 23px;
  color: #523468;
}

#merlin {
  font-family: Oswald;
  font-weight: 400px;
  letter-spacing: 2px;
  font-size: 50px;
  color: #e44104;
}

#merlins-potion {
  font-family: Oswald;
  font-weight: lighter;
  font-size: 50px;
  color: #e44104;
}

.nav-div {
  width: 100%;
  height: 90px;
  background-color: #523468;
}

#fade,
#modal {
  transition: 0.5s;
  opacity: 1;
  pointer-events: all;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 20px;
}

.header header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 79%;
  flex-wrap: wrap;
}


.header-input {
  height:30px;
  width: 375px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  border: 1px solid black;
  padding: 15px;
  align-items: center;
  gap: 6px;
  border-radius: 8px;
  cursor: pointer;
}

.header-input input {
  width: 350px;
  height:50px;
  border: none;
  font-size: 18px;
  cursor: pointer;
  outline: none;
}

.header-input img {
  width: 30px;
  height: 30px;
  padding-right: 8px;
  cursor: pointer;
}

.potions-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 50vh;
  padding-top: 20px;
}

.potions-container h2 {
  width: 100px;
  place-items: left;
}

.potion-title {
  display: flex;
  justify-content: space-between;
  width: 880px;
}

.potNameAndPrice {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.potNameAndPrice p {
  font-weight: bolder;
}

.price {
  padding-left: 2px;
  padding-top: 4px;
  color: orange;
  font-size: small;
  color: #e44104;
}

.potions {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  width: 900px;
  gap: 102px;
  padding: 20px;
}

.potions img {
  width: 150px;
  height: 150px;
}

.potion-div {
  cursor: pointer;
  transition: 0.2s;
}

.potion-div:hover {
  transform: scale(0.9);
}

.modal-header {
  display: flex;
  flex-direction: row-reverse;
  width: 480px;
  padding: 10px;
  position: relative;
  left: 90px;
}

.modal-body {
  width: 660px;
  height: 480px;
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  align-items: center;
}

#fade {
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

#modal {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 2px solid red;
  width: 700px;
  height: 470px;
  max-width: 80%;
  background-color: #fff;
  z-index: 10;
  position: relative;
  left: 50%;
  bottom: 50%;
  transform: translateX(-50%);
}

#modal.hide,
#fade.hide {
  opacity: 0;
  pointer-events: none;
}

#modal img {
  width: 350px;
  height: 350px;
}

.potion-div-modal {
  transition: 0.2s;
}

.modal-body-info {
  display: flex;
  flex-direction: column;
}

.modal-body-info h2 {
  width: 250px;
  padding-bottom: 30px;
}

.ingredients-info h3 {
  padding-bottom: 10px;
}

.ingredients-info p {
  text-indent: 2em;
  list-style-type: disc;
  display: list-item;
  list-style-position: inside;
}

.ingredients-info ul li {
  list-style: none;
}

.cart-button {
  display: flex;
  flex-direction: column;
  order: 1;
  width: 120px;
  padding-top: 15px;
}

.cart-button button {
  padding: 3px;
  height: 28px;
  border: none;
  border-radius: 8px;
  background-color: #e44104;
  color: #fff;
  cursor: pointer;
}

.hidden {
  display: none;
}

@media (max-width: 1080px) {
  .header-input {
    display: none;
  }

  .potions-container {
    height: 70vh
  }

  .potion-title {
    justify-content: center;
  }

  .potions {
    width: 500px;
    justify-content: center;
    gap: 50px;
  }


}